<ion-view title="Dashboard">
  <ion-content class="padding">
      <div class="button-bar bar-stable" style="height: 120px">
          <div class ="button">
              Heart Rate
              <div id="heart-rate" style="height: 100px"></div>
          </div>
          <div class ="button">
              Stroke Volume mL
              <div id="stroke-volume" style="height: 100px"></div>
          </div>

          <div class ="button">
              Cardiac Output L/min
              <div id="cardiac-output" style="height: 100px"></div>
          </div>

      </div>
      <div class="card">
          <div class="item item-text-wrap">
          </div>
      </div>
  </ion-content>
</ion-view>
