body {
  padding-bottom: 20px;
}

.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow {
  & > hr {
    margin: 30px 0;
  }
}

.centered {
  margin: 0 auto;
}
.center-text {
  text-align: center;
}

.navbar-inverse{
  position: relative;
  width: 900px;
  top:10px;
  z-index: 3;
}

.nav-container{
  position: absolute;
  width:100%;
  z-index: 3;
}

.navbar-brand {
  & > img {
    height: 60px;
    margin-top: -15px;
  }
  & > .pulse {
    position: absolute;
    margin-left: 180px;
    margin-top: -40px;
  }
}

.navbar-header {
  & > .navbar-brand {
    height: 70px;
    margin-left: -15px;
    float: left;
  }
}

.page-carousel{
  padding-bottom: 4px;
  h2 {
    top: 375px;
    position: absolute;
    z-index: 3;
    left: 10%;
    span {
      color: white;
      font: bold 24px/45px Helvetica, Sans-Serif;
      letter-spacing: -1px;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.7);
      padding: 10px;
      border-radius: 4px;
    }
  }
}
.carousel-slider {
  width: 100%;
  & > .img {
    min-width: 1024px;
    min-height: 500px;
    max-height: 600px;
    width: 100%;
    top: 0;
    left: 0;
  }
}



.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.pulse, .pulse:after {
  display: inline-block;
  padding: .3rem;
  border-radius: 50%;
  animation: pulse 1.4s .9s infinite ease-out;
  border: thin solid rgba(230, 230, 230, 0);
  transform: scale3d(.7, .7, 0);
  transition: opacity .75s;
}

.pulse:after {
  display: block;
  content: "";
  padding: 1rem;
}

@keyframes pulse {
  50% {
    border-color: rgb(260, 0, 0);
    background: transparent;
  }
  to {
    border-color: transparent;
    transform: none;
  }
}

.card-info {
  padding-bottom: 4px;
  & > .date {
    font-style: italic;
  }
}

.card-img {
  margin: 8px;
  box-shadow: 1px 2px 3px #bcbcbc;
  width:80px;
  height:80px;
}

.page-content {
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, .15);
}

.navbar-nav {
  margin-top: 10px;
}

.faq {
  .question {
    color: #0000ff;
    cursor: pointer;
    padding-bottom: 4px;
  }
}