<header-carousel
        header="Monitoring to the next level"
        images="[
            {
                 path: 'images/carousel/product/image1.jpg'
            }
        ]">
</header-carousel>
<div class="container page-content">
    <div class="row">
        <div class="col-12 col-sm-12 ">
            <h2>Mission</h2>

            <p> Provide portable, non-invasive cardiac output monitoring for health, wellness, and athletic
                monitoring. Application areas include: hospitals, clinics, nursing homes, homecare, sports medicine,
                military, and veterinary markets.
            </p>

            <p> Company Philosophy: Cardiac output is the single most important physiologic assessment which can be
                obtained from a person. However, the current usage rate for cardiac monitoring is below 1% for those
                people who could benefit from such monitoring. We will provide our clients with real time beat to
                beat cardiac output monitoring, allowing our clients to track their health, physical condition,
                energy expenditure, influence of medication or food intake and much more.
            </p>

            <p> Company Goal: Achieve an ease of cardiac monitoring similar to that which has been achieved for
                serum glucose monitoring. What once was available only in hospital or research settings will be
                available to the entire community.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12">
            <h2>Our Team</h2>

            <h3>Ohad BarSImanTov Ph.D. (CSO and interim CEO)</h3>

            <p>Received his Ph.D. in Electrical Engineering in May 2014 from Binghamton University. Over the last three
                years, Ohad has been committed to develop the wearable cardiac output monitoring technology as his
                dissertation research under his mentor Ken McLeod in the Clinical Science and Engineering Research
                Center (CSERC) at Binghamton University. His committee included experts in Digital Signal Processing,
                Data mining, and hardware design, allowing him to take the idea of non-invasive, continuous cardiac
                output monitoring from a concept to a working prototype.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <h2>Sergey Shteyn (CTO)</h2>

            <p> Sergey obtained B.S. in Computer Science from Binghamton University in 2006 and currently works at
                About.com as a Senior Software Engineer. He has more than 10 years of software development experience
                working with technologies such as Microsoft, Java, Nodejs and embedded devices. He will be joining
                InfraSonic Monitoring full time when the company receives its initial funding. His focus will be on
                developing the infrastructure and software to make data available on the web and smart devices.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <h2>Rotem Ishay (VP of marketing)</h2>

            <p> Rotem is known for dominating the Israeli cycling scene by winning nine times the Israeli national
                championship and other international and U.S. competitions. He obtained a B.A. from Fort Lewis College
                in Exercise Science and currently serves as the Director, Head Technician and Exercise Specialist at
                Durango Sport Performance Center. Rotem knows the U.S. cycling market very well and has the connections
                and necessary knowledge to take the InfraSonic device to market. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <p>  See our partners here. </p>
        </div>
    </div>
</div>