<header-carousel
        header="Ultimate sport performance and homecare monitoring"
        images="[
            {
                 path: 'images/carousel/product/image1.jpg'
            },
            {
                path: 'images/carousel/product/image2.jpg'
            },
            {
                path: 'images/carousel/product/image3.jpg'
            }
        ]">
</header-carousel>
<div class="container page-content">
    <div class="row">
        <div class="col-md-12 card">
            <br/>

            <h2> Using cardiac output for training </h2>

            <div class="row">
                <p class="col-md-12">
                    In the world of athletic training, heart rate monitoring is commonly utilized, but stroke volume is
                    the preferred measure of cardiac function as heart rate is a poor measure of energy expenditure.
                    Athletes undergo stress testing several times a year to deduce their fitness level, a process
                    typically involving VO2 (oxygen consumption) and lactate threshold measurements, which provide an
                    estimate of maximum cardiac output.
                </p>
            </div>
            <div class="row col-xs-8">
                <img class="img-thumbnail" src="images/sv-vs-hr.png" alt="...">
            </div>
            <br/>
            <div class="row ">
                <div class="col-md-12">
                    <br/>
                    <p>
                    The Wave provide those measurements outside of clinical settings
                    while exercising. Most individuals heart rate range is alike, and therefore the main component which
                    is trainable and can change is stroke volume (the amount of blood the heart push out every
                    contraction). As individual gets fitter stroke volume increases resulting in lower heart rate at
                    rest. Moreover, stroke volume is a non linear function as exercise intensity increases. More fit
                    individuals will reach higher exercise intensity in endurance sport.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 ">
                    <h4>Follow and advise athletes </h4>
                </div>
            </div>
        </div>
    </div>
</div>
