<header-carousel
        header="Questions? Find instant answers here..."
        images="[
            {
                 path: 'images/carousel/product/image1.jpg'
            },
            {
                path: 'images/carousel/product/image2.jpg'
            },
            {
                path: 'images/carousel/product/image3.jpg'
            }
        ]">
</header-carousel>
<div class="container page-content">
    <div class="row">
        <div class="col-md-12 card">
            <ul class="list-group">
                <li class="list-group-item">
                    <div faq class="faq">
                        <div class="question">
                            Why continuous cardiac monitoring is important?
                        </div>
                        <div answer >
                            In healthcare, continuous cardiac monitoring provides information regards our cardiac system over time. We
                            spent most of our time sitting at a known environment were cardiac parameters may differ at a clinic after
                            moving around, trying to make the appointment on time. As we spend extensive amount of time at a sitting or
                            resting position the cardiac system adapts and readings are different over time compared to the reading at a
                            clinic.
                            In the athletic world, cardiac output is a true measure of energy expenditure and therefore fitness level.
                            Monitoring cardiac output continuously provide better information regards athlete response to training and
                            condition, before, during, and after competitions.
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div faq class="faq">
                        <div class="question">
                            What is cardiac output?
                        </div>
                        <div answer >
                            Cardiac Output (CO) refers to the volume of blood pumped by the heart each minute. It is the product of the
                            stroke volume and heart rate. Also, it is the sum of all stroke volumes per minute.
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div faq class="faq">
                        <div class="question">
                            What is stroke volume?
                        </div>
                        <div answer >
                            Stroke Volume (SV) is defined as left ventricular volume change before ventricular contraction, at the end
                            of the diastolic phase and after ventricular contraction, at the end of the systolic phase
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div faq class="faq">
                        <div class="question">
                            What is the stroke volume of an average person at rest?
                        </div>
                        <div answer >
                            At rest, stroke volume is approximated at 70 ml in a healthy 70-kg man.
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div faq class="faq">
                        <div class="question">
                            What is the cardiac output of an average person at rest?
                        </div>
                        <div answer >
                            At rest, cardiac output is approximated at 5 liters in a healthy 70-kg man.
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div faq class="faq">
                        <div class="question">
                            What controls stroke volume?
                        </div>
                        <div answer >

                            There are many variables that controls stroke volume: Fitness level , dehydration, food intake, liquid
                            intake, medication intake and more.

                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div faq class="faq">
                        <div class="question">
                            Are blood pressure and cardiac output related?
                        </div>
                        <div answer >
                            Yes, but indirectly and indepently. Blood pressure is controlled by our arteries and veins which is
                            consisted of a smooth muscle and responsible to continually push the blood to our organs and tissue. It is
                            the resistance of this tissue against the cardiac system. Cardiac output is a result of heart contraction
                            (the quantity of blood pushed out per minute) and is required to maintain normal function.
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div faq class="faq">
                        <div class="question">
                            Is heart rate and cardiac output related?

                        </div>
                        <div answer >
                            Yes, the connection of cardiac output and heart rate is done by the average amount of blood pushed out every
                            contraction (i.e. stroke volume) at a given moment.
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div faq class="faq">
                        <div class="question">
                            For how long during the day will I be able to monitor my cardiac output with the Infrasonic monitor?
                        </div>
                        <div answer >
                            Current services provide 12 hours of continous monitoring.
                            Our product is under development and we aime to provide at minimum 24 hours of continuous monitoring.
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div faq class="faq">
                        <div class="question">
                            Will I be able to download my CO data to my personal computer?
                        </div>
                        <div answer >
                            Yes, we are developing a web platform that will provide the user with functions to uplaed his data and
                            observe his progress over time.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
