<div class="nav-container">
    <div class=" navbar navbar-inverse centered" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img src="images/ISMbothLogoST.png" class="img-rounded">
                    </img>
                    <div class="pulse"></div>
                </a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="/products">Products</a>
                    </li>
                    <li>
                        <a href="learn">Learn</a>
                    </li>
                    <li>
                        <a href="faq">FAQ</a>
                    </li>
                    <li class="active">
                        <a href="about">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>