<div class="nav-container">
    <div class=" navbar navbar-inverse centered" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img src="images/ISMbothLogoST.png" class="img-rounded">
                    </img>
                    <div class="pulse"></div>
                </a>
            </div>
            <nav-bar>
                <nav-link url="#/home">Home</nav-link>
                <nav-link url="#/products">Products</nav-link>
                <nav-link url="#/services">Services</nav-link>
                <nav-link url="#/training">Training</nav-link>
                <nav-link url="#/homecare">Home care</nav-link>
                <nav-link url="#/faq">FAQ</nav-link>
                <nav-link url="#/about">About</nav-link>
            </nav-bar>
            <!--<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">-->
            <!--<ul class="nav navbar-nav">-->
            <!--<li>-->
            <!--<a ng-href="#/home">Home</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a ng-href="#/products" >Products</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a ng-href="#/services">Services</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a ng-href="#/training">Training</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a ng-href="#/training">Home care</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a ng-href="#/faq">FAQ</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a ng-href="#/about">About</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</nav>-->
        </div>
    </div>
</div>