<header-carousel
        header="Homecare monitoring"
        images="[
            {
                 path: 'images/carousel/product/image1.jpg'
            },
            {
                path: 'images/carousel/product/image2.jpg'
            },
            {
                path: 'images/carousel/product/image3.jpg'
            }
        ]">
</header-carousel>
<div class="container page-content">
    <div class="row">
        <div class="col-md-12 card">
            <br/>

            <div class="row">
                <div class="col-xs-11">
                    <h4>Why Cardiac Output</h4>
                    Cardiac output refers to the volume of blood pumped by the heart each minute. It is arguably the
                    single most important health assessment which can be obtained from a person. As all tissues are
                    critically dependent on adequate blood perfusion to maintain normal function, a measure of cardiac
                    output provides insight into the degree of tissue or organ system failure. However, cardiac output
                    (defined as left ventricular stroke volume multiplied by heart rate) has, until now, been a very
                    difficult measure to obtain. Historically, only invasive, and therefore costly and dangerous,
                    procedures were available. Correspondingly, surrogate measures of cardiac output, such as blood
                    pressure, body temperatures, and heart rate, have been utilized to deduce cardiac output status.
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <h4>Following patients at low risk </h4>

                    <p>
                        We want to target the market which can benefit from continuous cardiac output assessment for
                        long duration and transfer the information to cloud servers where patients would be followed in
                        and out of clinic or hospital. We are looking toward applications of personalized medication, in
                        particular, those medications which affect cardiac performance and patients with high
                        readmission risk. Hospitals could see their readmission penalties reduced, efficiency increased,
                        and patients’ quality of life significantly enhanced with continuous CO monitoring. Patients
                        with one or more of the following conditions could benefit from CO monitoring:
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item">Heart rhythm problems
                            <ul>
                                <li>Tachycardia</li>
                                <li>Bradycardia</li>
                            </ul>
                        </li>

                        <li class="list-group-item">New medicine effectiveness and personalization
                            <ul>
                                <li>Positive reaction</li>
                                <li>Negative reaction</li>
                            </ul>
                        </li>
                        <li class="list-group-item"> Irregular (uneven), heartbeat (arrhythmia)
                        </li>
                        <li class="list-group-item">Irregular stroke volume variation (heart palpitations)
                        </li>
                        <li class="list-group-item"> Cardiac Output inefficiency
                            <ul>
                                <li>Patients who suffer from Dizziness, Fatigue, Faint</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <h4>Cardiac Measurement</h4>
                    Measuring cardiac output for long duration may result in information that can be utilized for many
                    different decisions making. Here, we share some thoughts in how the InfraSonic cardiac monitor
                    device could be utilized in the field and in medical application.
                    <ul>
                        <li>   Medications affect the whole human body: we assume there is more positive effect than negative. As cardiac output is an excellent indication of a physiologic state it is important that cardiac output not decrease due to medication intake, which can create complications.</li>
                        <li>Monitoring cardiac output while sleeping can indicate the level of sleeping and if the subject has rested for the needed duration. </li>
                        <li>        Prevention is always the best medicine. Changes in cardiac output may indicate symptoms before going into trauma. </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <h4>Example</h4>
                    A subject who takes extensive amount of medication including beta blockers,
                    against hypertension (high blood pressure). After 20 minutes his blood pressure drops
                    to the normal range but suffer from cardiac insufficiency. He has normal heart rate,
                    but very low stroke volume which drops his cardiac index (cardiac output over his size) to 1.5. The range of cardiac index is 2.5-4 at rest. Therefore, subject is fatigue and suffer from dizziness. In this case his medication should be corrected to fit his personal needs. The clinician will not see this reading at the clinic when patient is admitted. the clinician will see the initial reading that indicates hypertension.    </div>
            </div>
            <br/>
        </div>
    </div>
</div>