<header-carousel
        header="Investors info"
        images="[
            {
                 path: 'images/carousel/product/image1.jpg'
            }
        ]">
</header-carousel>
<div class="container page-content">
<div class="row">
<div class=" col-sm-12 ">

<h2 class="text-center">Investors</h2>

<div class="lead">
    Our angle round of funding provided $100K from friends and family. We are looking for first round of
    funding at $1M for the following:
</div>
<table class="table table-striped">
<thead>
<tr>
    <th>Event</th>
    <th>Start Month</th>
    <th>End Month</th>
    <th>Est Cost</th>
</tr>
</thead>
<tbody>
<tr>
    <td>
        Ramp up CO monitoring service
    </td>
    <td>
        7/2014
    </td>
    <td>
        NA
    </td>
    <td>
        $10K
    </td>
</tr>
<tr>
    <td>
        Design and produce hardware prototype for clinicals
    </td>
    <td>
        9/2014
    </td>
    <td>
        9/2014
    </td>
    <td>
        $20K
    </td>
</tr>
<tr>
    <td>
        Undertake clinical cycling study, validating against VO2, lactate, NICOM, and blood pressure

    </td>
    <td>
        1/2015

    </td>
    <td>
        4/2015

    </td>
    <td>
        $200K
    </td>
</tr>
<tr>
    <td>
        Optimize SV algorithm for elite cyclists

    </td>
    <td>
        4/2015

    </td>
    <td>
        5/2015

    </td>
    <td>
        $10K
    </td>
</tr>
<tr>
    <td>
        Design and produce alpha hardware prototype

    </td>
    <td>
        5/2015

    </td>
    <td>
        7/2015

    </td>
    <td>
        $30K
    </td>
</tr>
<tr>
    <td>
        Alpha Testing
    </td>
    <td>
        7/2015

    </td>
    <td>
        8/2015

    </td>
    <td>
        $10K
    </td>
</tr>
<tr>
    <td>
        Beta test equipment development

    </td>
    <td>
        8/2015

    </td>
    <td>
        9/2015

    </td>
    <td>
        $30K
    </td>
</tr>
<tr>
    <td>
        Beta test equipment ship to first customers

    </td>
    <td>
        9/2015

    </td>
    <td>
        9/2015

    </td>
    <td>
        $10K
    </td>
</tr>
<tr>
    <td>
        Beta testing
    </td>
    <td>
        10/2015

    </td>
    <td>
        11/2015

    </td>
    <td>
        $20K
    </td>
</tr>
<tr>
    <td>
        Production design and build
    </td>
    <td>
        11/2015

    </td>
    <td>
        12/2015

    </td>
    <td>
        $100k
    </td>
</tr>
<tr>
    <td>
        Set up distribution and sales
    </td>
    <td>
        11/2015

    </td>
    <td>
        1/2016

    </td>
    <td>
        $50k
    </td>
</tr>
<tr>
    <td>
        Finalize production device
    </td>
    <td>
        11/2015

    </td>
    <td>
        1/2016

    </td>
    <td>
        $50k
    </td>
</tr>
</tbody>
</table>

<div class="row">
    <div class="col-12 col-sm-12 ">
        <h3>Production and sales expenses (3rd quarter 2015 onward):</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading"> Production costs:
                    </h4>
                <p class="list-group-item-text">
                    Approximated as $200 per unit based on materials, assembly and test</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading"> Marketing/Sales:
                </h4>
                <p class="list-group-item-text">
                    On InfraSonic Monitoring website and elite stores

                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading"> Distribution
                </h4>
                <p class="list-group-item-text">
                    Connections are from Infrasonic directly to stores
                </p>
            </li>

            <li class="list-group-item">
                <h4 class="list-group-item-heading"> Cloud computing and services
                </h4>
                <p class="list-group-item-text">
                    Assuming to be $500 a month
                </p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">  Return and repair operations
                </h4>
                <p class="list-group-item-text">
                    Assuming 5% return where some parts can be reused like the     accelerometer and reduce repairing cost.
                </p>
            </li>
        </ul>
        <h3 class="text-center">
            Total ~ $1M to breakeven
        </h3>
        <div class="row">
            <div class="col-sm-12 ">
                <h4 class="lead text-center"> Business plan is provided upon request.
                </h4>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>