<div class="page-carousel">
    <h2>
        <span>Ultimate sport performance and homecare monitoring</span>
    </h2>
    <slick>
        <div class="carousel-slider">
            <img class="img"
                 src="images/carousel/FrontT2_1.png"
                 alt="Monitor your performance">
        </div>
        <div class="carousel-slider">
            <img
                    class="img"
                    src="images/carousel/FrontT2_2.jpg"
                    alt="Monitor your performance">
        </div>
        <div class="carousel-slider">
            <img
                    class="img"
                    src="images/carousel/FrontT2_3.png"
                    alt="Monitor your performance">
        </div>
    </slick>
</div>