<header-carousel
        header="Ultimate sport performance and homecare monitoring"
        images="images">
</header-carousel>
<div class="container page-content">
    <div class="row">
        <div class="col-md-12 card">
            <br/>

            <h2> Cardiac output monitoring</h2>

            <div class="row">
                <div class="col-xs-3">
                    <img class="img-thumbnail" src="images/body-heart.png" alt="...">
                </div>
                <p>
                    We have developed a wearable cardiac monitoring device, capable of providing continuous
                    cardiac output. The device recorded motion of the sternum at frequencies which are at
                    the infrasonic range, just below the range of human hearing.
                    We have shown that specific aspects of chest wall motions are highly correlated to stroke
                    volume output of the heart. Confounding factors such as breathing motions, speech noise,
                    and other impact type motions (such as would occur during non-impact exercise, like cycling,
                    swimming, rowing, and etc.) will not interfere with the assessment.
                </p>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 ">
                <h4>Upcoming performance unit</h4>

                <p>
                    Most humans can reach the same range of heart rat, from rest to maximum intensity, but the amount of
                    blood the heart can push out each contraction (i.e. stroke volume) make the difference between an
                    athlete and untrained individual.
                    Stroke volume is the trinable part that is directly related to our fitness.
                    Our clinical study with 100+ subjects in a range of professional athletes to
                    untrained people while cycling is scheduled to start in November 2014.
                    Our subjects will undergo a stress test, measuring VO2 (oxygen uptake), Lactate,
                    and infrasonic cardiac parameters simultaneously. </p>

            </div>
            <div class="col-6 col-sm-6 col-lg-4">

                <h4>Lab research unit</h4>

                <p>
                    Our lab research unit is available to institutions to deduct cardiac research. Our unit requires
                    BIO-PACK MP-150 data aquisition unit to collect chest acceleration signal. The unit is available per
                    request
                </p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4">
                <h4>Wireless research unit</h4>

                <p>


                    Our wireless research unit is available to institutions to deduct cardiac research.
                    The unit is consisted of a buetooth comminication protocol </p>
            </div>
        </div>
    </div>
</div>