<header-carousel
        header="Ultimate sport performance and homecare monitoring"
        images="[
            {
                 path: 'images/carousel/product/image1.jpg'
            },
            {
                path: 'images/carousel/product/image2.jpg'
            },
            {
                path: 'images/carousel/product/image3.jpg'
            }
        ]">
</header-carousel>
<div class="container page-content">
    <div class="row">
        <div class="col-12 col-sm-12 ">
            <h2>Homecare monitoring</h2>

            <p>InfraSonic Monitoring provide cardiac monitoring services for 12 hours using current FDA approved
                technology to individuals at their home.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12">
            <h2>Athletic monitoring</h2>
        </div>
    </div>
</div>